<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>check</key>
	<dict>
		<key>matrix-mobile-plugin-app</key>
		<string>9.1.1.0</string>
		<key>matrix-mobile-plugin-camera</key>
		<string>9.1.1.0</string>
		<key>matrix-mobile-plugin-device</key>
		<string>9.1.1.0</string>
		<key>matrix-mobile-plugin-network</key>
		<string>9.1.1.0</string>
	</dict>
	<key>dependencies</key>
	<dict>
		<key>EmbedFramework</key>
		<dict>
			<key>GCDWebServers.framework</key>
			<array>
				<string>Default</string>
			</array>
			<key>MatrixMobile.framework</key>
			<array>
				<string>Default</string>
			</array>
			<key>MatrixMobileApp.framework</key>
			<array>
				<string>matrix-mobile-plugin-app</string>
			</array>
			<key>MatrixMobileCamera.framework</key>
			<array>
				<string>matrix-mobile-plugin-camera</string>
			</array>
			<key>MatrixMobileDevice.framework</key>
			<array>
				<string>matrix-mobile-plugin-device</string>
			</array>
			<key>MatrixMobileNetwork.framework</key>
			<array>
				<string>matrix-mobile-plugin-network</string>
			</array>
			<key>ZipArchive.framework</key>
			<array>
				<string>Default</string>
			</array>
		</dict>
		<key>Framework</key>
		<dict>
			<key>GCDWebServers.framework</key>
			<array>
				<string>Default</string>
			</array>
			<key>MatrixMobileApp.framework</key>
			<array>
				<string>matrix-mobile-plugin-app</string>
			</array>
			<key>MatrixMobileCamera.framework</key>
			<array>
				<string>matrix-mobile-plugin-camera</string>
			</array>
			<key>MatrixMobileDevice.framework</key>
			<array>
				<string>matrix-mobile-plugin-device</string>
			</array>
			<key>MatrixMobileNetwork.framework</key>
			<array>
				<string>matrix-mobile-plugin-network</string>
			</array>
			<key>WMybridMobile.framework</key>
			<array>
				<string>Default</string>
			</array>
			<key>ZipArchive.framework</key>
			<array>
				<string>Default</string>
			</array>
		</dict>
		<key>Library</key>
		<dict/>
	</dict>
	<key>permissions</key>
	<dict>
		<key>NSCameraUsageDescription</key>
		<array>
			<string>Default</string>
		</array>
		<key>NSLocalNetworkUsageDescription</key>
		<array>
			<string>Default</string>
		</array>
		<key>NSLocationWhenInUseUsageDescription</key>
		<array>
			<string>Default</string>
		</array>
		<key>NSMicrophoneUsageDescription</key>
		<array>
			<string>Default</string>
		</array>
		<key>NSPhotoLibraryAddUsageDescription</key>
		<array>
			<string>Default</string>
		</array>
		<key>NSPhotoLibraryUsageDescription</key>
		<array>
			<string>Default</string>
		</array>
	</dict>
	<key>plugins</key>
	<array>
		<dict>
			<key>ClassName</key>
			<string>MatrixMobileAppPlugin</string>
			<key>Name</key>
			<string>MatrixMobileAppPlugin</string>
			<key>Onload</key>
			<true/>
		</dict>
		<dict>
			<key>ClassName</key>
			<string>MatrixMobileDevicePlugin</string>
			<key>Name</key>
			<string>MatrixMobileDevicePlugin</string>
			<key>Onload</key>
			<true/>
		</dict>
		<dict>
			<key>ClassName</key>
			<string>InAppUpdatePlugin</string>
			<key>Name</key>
			<string>InAppUpdatePlugin</string>
			<key>Onload</key>
			<false/>
		</dict>
		<dict>
			<key>ClassName</key>
			<string>MatrixMobileCameraPlugin</string>
			<key>Name</key>
			<string>MatrixMobileCameraPlugin</string>
			<key>Onload</key>
			<false/>
		</dict>
		<dict>
			<key>ClassName</key>
			<string>SamplePlugin</string>
			<key>Name</key>
			<string>SamplePlugin</string>
			<key>Onload</key>
			<false/>
		</dict>
		<dict>
			<key>ClassName</key>
			<string>Logger</string>
			<key>Name</key>
			<string>Console</string>
			<key>Onload</key>
			<true/>
		</dict>
		<dict>
			<key>ClassName</key>
			<string>MatrixMobileNetworkPlugin</string>
			<key>Name</key>
			<string>MatrixMobileNetworkPlugin</string>
			<key>Onload</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
